<div class="container">
  <h2 class="center">Edit Profile</h2><br>

  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
    <%= devise_error_messages! %>

        


    <div class="container" style="max-width:550px; ">
            <div class="row">  
              <div class="col-xs-6">
                <div class="form-group">
                  <%= image_tag @user.avatar.url(:medium), class: "img-rounded img-responsive"%>
                </div>
              </div>
             
             <div class="col-xs-6"> 
                <div class="form-group">
                  <%= f.label :activity %><br />
                  <%= f.text_area  :activity, class: "form-control" %>
                </div>
                <div class="form-group">
                  <%= f.file_field :avatar, class: "form-control"  %>
                </div>
              </div>
            </div>
             

              <div class="form-group">
                <%= f.label :user_name %>
                <%= f.text_field :user_name, :autofocus => true, class: "form-control" %>
              </div>

              <div class="row">
                <div class="col-xs-6">
                  <%= f.label :first_name %>
                  <%= f.text_field :first_name, :autofocus => true, class: "form-control" %>
                </div>
                <div class="col-xs-6">
                  <div class="form-group">
                  <%= f.label :last_name %>
                  <%= f.text_field :last_name, :autofocus => true, class: "form-control" %>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <%= f.label :email %><br>
                <%= f.email_field :email, class: "form-control" %>
              </div>
<br>
              <div class="panel-group" id="accordion">
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                          Change Password
                        </a>
                      </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse">
                      <div class="panel-body">
                        <div class="form-group">
                          <%= f.label :password %> <i>(edit)</i><br />
                          <%= f.password_field :password, :autocomplete => "off", class: "form-control" %>
                        </div>

                        <div class="form-group">
                          <%= f.label :password_confirmation %><br />
                          <%= f.password_field :password_confirmation, class: "form-control" %>
                        </div>
                    </div>
                </div>
              </div>

              <h2 class="center">Attributes</h2>

              <div class="form-group">
                <%= f.select :gender, ['select','MALE', 'FEMALE'], class: "dropdown-header"   %>
              </div>
             
              <div class="form-group">
                <%= f.label :date_of_birth %><br />
                <%= f.date_select :date_of_birth, class: "form-control" %>
              </div>
              <div class="input-group" id="datetimepicker7">
                <span class="input-group-addon datepickerbutton">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
                <input type='text' class="form-control"/>
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-remove"></span>
                </span>
              </div>
               <div class="form-group">
                <%= f.label :height %><br />
                <%= f.text_field  :height, class: "form-control" %>
              </div>
                <div class="form-group">
                <%= f.label :weight %><br />
                <%= f.text_field  :weight, class: "form-control" %>
              </div>
              <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                <div class="form-group">
                  Currently waiting confirmation for: <%= resource.unconfirmed_email %>
                </div>
              <% end %>

          <br><br><br>
            <div class="form-group">
              <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br>
              <%= f.password_field :current_password, class: "form-control" %>
            </div>

            
               
            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div class="form-group">
              Currently waiting confirmation for: <%= resource.unconfirmed_email %>
            </div>
            <% end %>
            <div class="form-group">
              <%= f.submit "UPDATE", class: "btn btn-primary btn-block" %>
            </div>
            
        <% end %>
    </div>

  </div>

           <ul class= "pager">
               <li class="previous"><%= link_to "&larr; Back".html_safe, challenges_path %></li>
          </ul>