<div class="jumbotron">
  <div class="container">
    <div class="center">
      <h1>GET FIT, GET PAID! </h1>
      <h2>Make fitness wagers between friends & family <br>Powered by your favorite wearable or phone</h2>
       
     <br>
       <%= link_to "COMPETE NOW", new_user_registration_path, class: "btn btn-outline-inverse btn-lg",
              data: { no_turbolink: true } %>

    </div>
  </div>  
</div>
<br>

<div class="container-fluid">
  <div class="center press"><h4>As Seen On </h4>
  </div>
  <br><br>
    <div class="row">
      <div class="col-xs-6 col-sm-3">
          <td><%= image_tag "https://dl.dropboxusercontent.com/s/os160yoqoz8spwc/fox.jpg" %></td>
          </a>
      </div>
      <div class="col-xs-6 col-sm-3">
          <td><%= image_tag "https://dl.dropboxusercontent.com/s/dwbwk8nacm0k68z/hbo.jpg" %></td>
      </div>
      <div class="col-xs-6 col-sm-3">
          <td><%= image_tag "https://dl.dropboxusercontent.com/s/wr0fcywedc4co9x/nbc.jpg" %></td>
      </div>
      <div class="col-xs-6 col-sm-3">
          <td><%= image_tag "https://dl.dropboxusercontent.com/s/0rp74122yfo962s/techcrunch.jpg" %></td>
      </div>
    </div>
</div>

<br>
<br>
<section class="info">
  <div class="container">
    <header class="center">
      <h1>FITJAR enables you to compete for cash with friends</h1>
      <h2>Make friendly wagers to motivate your fitness.  Use your favorite wearable technology to track your calories burned.  The person that burns the most calories wins the pot.  Stay motivated with the idea of taking your friend's money by burning more calories than them</h2>
      <%= image_tag "https://dl.dropboxusercontent.com/s/4g5khl0egopew26/ideaicon.png" %>
      <%= image_tag "https://dl.dropboxusercontent.com/s/5l5hz85u9m0m4l9/arrowicon.png" %>
      <%= image_tag "https://dl.dropboxusercontent.com/s/zgjh3jg5dmhptx2/webappicon.png" %>
    </header>
  </div>

  <div id="wearables">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="thumbnail">
            <%= image_tag "https://dl.dropboxusercontent.com/s/ai552n3o6c1tmc4/API_ALL.png" %>
          </div>
        </div>
        <div class="col-md-6">
          <h1>TRACK</h1>
          <h2>Track your calories burned using your favorite wearable technology.  Wheter you have a FitBit, Nike FuelBand, or use your phone</h2>
        </div>
      </div>
    </div>
  </div>



<section class="difference">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <header class="section-header center">
          <h1>Results</h1>
        </header>
        <h3>Remember when you used to have PE class, reat way to train is in intervals.  Hit it hard, it it strong with a 7 Day Fitness Challenge with your friends to engage in a short intensive week or a 30 Day Fitness Challenge to make it a more consistent work out.</h3>
      </div>

      <div class="col-md-6">
        <div class="features">
          <ul class="check">
            <li>Get Fit!</li>
            <li>Get Paid!</li>
            <li>Work out with friends & family</li>
            <li>Take Your Friend's Money</li>
          <ul>
        </div>
      </div>
    </div>
  </div>
</section>
<br>
<br>
<br>
<section class= "accepted">
    <div class="row-fluid ">
      <div class="col-lg-12 col-md-12 col-sm-12">
            <br>
        <h1 class="center">LET THE GAMES BEGIN!</h1>
      </div>
      <br>
      <br>
       <br>
       <br>
          <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="center">
                    <br>
               <%= link_to "COMPETE NOW", new_user_registration_path, class: "btn btn-outline-inverse btn-lg",
            data: { no_turbolink: true } %>
            </div>
         </div>   
    </div>
</section>

<!-- Go to www.addthis.com/dashboard to customize your tools -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-53beb3c6683d863d"></script>


<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
