<div class="container">
    <h2 class="center">Account Infomation</h2>
<br>
<br>
<h4>Account History</h4>
  <table class="table table-striped">
    <tr>
      <th class="center">PICTURE</th>
      <th class="center">CHALLENGE NAME</th>
      <th class="center">STAKE</th>
      <th class="center">JAR</th>
      <th class="center">HOST</th>
      <th class="center">DATE</th>
    </tr>

    <% @payments.each do |payment| %>
      <tr>
        <td class="center"><%= image_tag payment.challenge.image.url(:thumb) %></td>
        <td class="center"><%= payment.challenge.name %></td>
        <td class="center"><%= number_to_currency(payment.challenge.stake) %></td>
        <td class="center"><%= number_to_currency(payment.challenge.stake) %></td>
        <td class="center"><%= payment.host.name %></td>
        <td class="center"><%= payment.created_at.strftime("%B %-d, %Y") %></td>
      </tr>
    <% end %>
  </table>

  
<br>
<br>
<br>
<br>
 

<div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
          Change Credit Card Info
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse">
      <div class="panel-body">
       <%= render 'formBank' %>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
          Change Bank Info
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse">
      <div class="panel-body">
      <%= render 'formBank' %>
      </div>
    </div>
  </div>
  
</div>

<br>
<br>
<br>
<br>
<br>

<ul class= "pager">
           <li class="previous"><%= link_to "&larr; Back".html_safe, challenges_path %></li>
      </ul>

</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>