<div class="container">
    <h2 class="center">Your Challenge History</h2>

<div class="container">
    <h2>Change Bank Acccount Info</h2>
  </div>

  <table class="table table-striped">
    <tr>
      <th class="center">PICTURE</th>
      <th class="center">CHALLENGE NAME</th>
      <th class="center">STAKE</th>
      <th class="center">JAR</th>
      <th class="center">HOST</th>
      <th class="center">DATE</th>
    </tr>

    <% @payments.each do |payment| %>
      <tr>
        <td class="center"><%= image_tag payment.challenge.image.url(:thumb) %></td>
        <td class="center"><%= payment.challenge.name %></td>
        <td class="center"><%= number_to_currency(payment.challenge.stake) %></td>
        <td class="center"><%= number_to_currency(payment.challenge.stake) %></td>
        <td class="center"><%= payment.host.name %></td>
        <td class="center"><%= payment.created_at.strftime("%B %-d, %Y") %></td>
      </tr>
    <% end %>
  </table>

  <br>
 <br>
<br>
<br>
<br>


  <div class="container" style="max-width:400px; margin: 0 auto 10px;">
    <div class="center-block">
      <% if user_signed_in? %>
        <div class="center">
          <%= link_to new_challenge_path, class: "btn btn-warning btn-lg btn-block ", data: {no_turbolink: true} do %>
          <i class ="glyphicon glyphicon-plus"></i> NEW CHALLENGE
          <%end%>
      <%end%>
         </div>
    </div>
  </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>