<div class="container">
  <div class="center">
    <h2>Your Challenge History</h2>
  </div>

  <table class="table table-striped table-bordered">
    <tr>
      <th class="center">Jar</th>
      <th class="center">Challenge</th>
      <th class="center">Stake</th>
      <th class="center">Host</th>
      <th class="center">Date Sold</th>
    </tr>

    <% @payments.each do |payment| %>
      <tr>
        <td class="center"><%= image_tag payment.challenge.image.url(:thumb) %></td>
        <td class="center"><%= payment.challenge.name %></td>
        <td class="center"><%= number_to_currency(payment.challenge.stake) %></td>
        <td class="center"><%= payment.host.name %></td>
        <td class="center"><%= payment.created_at.strftime("%B %-d, %Y") %></td>
      </tr>
    <% end %>
  </table>

  <br>

  <% if user_signed_in? %>
     <%= link_to new_challenge_path, class: "btn btn-default btn-lg btn-block", data: {no_turbolink: true} do %>
          <i class ="glyphicon glyphicon-plus"></i> New Challenge
          <%end%>
  <% end %>

</div>


<br>
<br>
<br>
<br>