<div class="jumbotron">
  <h1>Handcrafted items from around the world.</h1>
  <h2>Discover one-of-a-kind items</h2>
</div>

<div class="center">
  <div class="row">
    <% @challenges.each do |challenge| %>
      <div class="col-md-3">
        <div class="thumbnail">
          <%= link_to image_tag(challenge.image.url), challenge%>
          <%= image_tag challenge.image.url %>
          <div class="caption">
            <h3><%= challenge.name %></h3>
            <h3><%= "Hosted by #{challenge.user.name}" %></h3>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<br>
<!--switch this to button after-->

  <% if user_signed_in? %>
  <%= link_to 'New challenge', new_challenge_path, class: "btn btn-link" %>
  <% end %>

