<div class="container">
  <div class="jumbotron">
    <div class="center">
      <h1>Welcome to the <%= @challenge.name %> Challenge</h1>
        <h2>
          <% @challenges.each do |challenge| %>
            <%= "Your host is #{challenge.user.name}" %>
         
            <%= @challenge.description %> 
        </h2>
          
        <h3>The challenge will be a  of # ending on #.  You must sync with your wearable tech by 3PM each day
        </h3>

          <%end%>

          
                <!-- Button trigger modal -->
                 
                  <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
                    Launch demo modal
                  </button>
                  <button type="button" class="btn btn-default btn-lg btn-block">Block level button</button>
          <%= link_to "Invite Friends", new_challenge_payment_path(@challenge), class: "btn btn-danger btn-lg", data: { no_turbolink: true } %>
    </div>
  </div>
  
  <%= render 'challenges/host' %>
     
  <table class="table table-bordered">

    <div class="row">
      <div class="col-xs-6 col-md-4"><h5>Challenge Name: <%= @challenge.name %><br>Host: Jackson Quach<br>Challenge Date:<br></h5>
      </div>
      
      <div class="col-xs-6 col-md-4"><h5>Jar Amount: <%= number_to_currency(@challenge.stake) %></h5>
      </div>
      
      <div class="col-xs-6 col-md-4"><h5>Start In</h5>
      </div>
    </div>
  </table>





<div class="media">
  <a class="pull-left" href="#">
    <img class="media-object" src="..." alt="...">
  </a>
  <div class="media-body">
    <h4 class="media-heading">Media heading</h4>
    ...
  </div>
</div>


    <div class="row">
      <h1> LEADERBOARD </H1>
      <div class="col-xs-12 col-md-8">
            <div class="progress">
          <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
            <span class="sr-only">40% Complete (success)</span>
          </div>
        </div>
        <div class="progress">
          <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
            <span class="sr-only">20% Complete</span>
          </div>
        </div>
        <div class="progress">
          <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
            <span class="sr-only">60% Complete (warning)</span>
          </div>
        </div>
        <div class="progress">
          <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
            <span class="sr-only">80% Complete</span>
          </div>
        </div>


      </div>
    
    <div class="col-xs-6 col-md-4">.col-xs-6 .col-md-4</div>
  EDIT & SURVEY MONKEY
    </div>

  <div class="center"></div>
      
      <br>
      <!--JQ - this turbo link must be disabled, else the token won't process-->
     
      <br>
       <br>
  
  <div class="btn-group" data-toggle="buttons">
    <label class="btn btn-primary active">
      <% if current_user == @challenge.user %>
      <%= link_to 'Edit', edit_challenge_path(@challenge) %>
      <% end %>
    </label>

    <label class="btn btn-primary">
    <%= link_to 'Back', challenge_path %>
    </label>
  </div>


      <%= link_to 'Edit', edit_challenge_path(@challenge), class: "btn btn-link" %> |
   

    <%= link_to 'Back', challenge_path, class: "btn btn-link" %>
    </div>
  </div>



    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
</div>