
<footer class="site-footer">
	<div class="container">
		<div class="row-fluid center">
			<ul class="list-inline left">
				
				<li><%= link_to "About Us", about_path %></li>|
				<li><%= link_to "FAQ", faq_path %></li>|
				<li><%= link_to "Rules", rules_path %></li>|
				<li><%= link_to "Terms & Privacy", terms_path %></li>|
				<li><%= mail_to "hello@fitjar.co" do %>
					  Contact
					<% end %></li>
				
			</ul>
		</div>	

		<div class="row-fluid center">
			<ul class="list-inline left">
				<li><%= link_to image_tag("https://dl.dropboxusercontent.com/s/qbdm2echj8jxnxq/twitter.png?m="), "http://www.twitter.com/theFITJAR",:target => '_blank'%></li>
				<li><%= link_to image_tag("https://dl.dropboxusercontent.com/s/wwz0yo8f9iqhv1b/facebook.png"), "https://www.facebook.com/theFITJAR" ,:target => '_blank'%></li>
				<li></li>
			</ul>
		</div>	

		<div class="row-fluid center">
			<ul class="list-inline left">
			<li>© 2014 VICEJAR LLC</li>
			</ul>
		</div>	
			
	</div>
</footer>
