<footer class="site-footer">
	<div class="container">
		<ul class="list-inline center">
			<li><%= link_to "About", about_path %></li>
			<li><%= link_to "FAQ", faq_path %></li>
			<li><%= link_to "Rules", rules_path %></li>
			<li><%= link_to "Terms", terms_path %></li>
			<li><%= link_to "VICEJAR", "https://www.thevicejar.com" %></li>
			<%= mail_to "hello@fitjar.co" do %>
			  Contact
			<% end %>
		</ul>
		<div class="social center">
			<%= link_to image_tag("https://dl.dropboxusercontent.com/s/onv8sst20hjsqrn/twitter.png"), "http://www.twitter.com/theFITJAR" %>
			<%= link_to image_tag("https://dl.dropboxusercontent.com/s/99aqgtpqitvo9vs/facebook.png"), "https://www.facebook.com/thefitjar" %>
		</div>
		<p class="copyright center">Copyright © 2014 VICEJAR LLC</p>
	</div>
</footer>


 <section class="footer">
    <div class="container">
      <div class="row-fluid">
        <div class="copyright-text col-lg-7 pull-left">Copyright 2013 Pact |
          <a href="/legal/tos">Terms of Service</a> |
          <a href="/legal/privacy">Privacy Policy</a> |
          <a href="/contact.html">Contact Us</a>
        </div>
        <div class="text-right col-lg-5 clearfix pull-right">
          <ul class="social-icons pull-right">
            <li><a class="twitter" href="https://twitter.com/pactapp"><i class="icon-twitter-alt"></i></a></li>
            <li><a class="facebook" href="https://www.facebook.com/gympact"><i class="icon-facebook"></i></a></li>
            <li><a class="instagram" href="http://instagram.com/pactapp"><i class="icon-instagram"></i></a></li>
            <li><a class="tumblr" href="http://blog.pactapp.com"><i class="icon-tumblr"></i></a></li>
            <li><a class="pinterest" href="https://www.pinterest.com/pactapp"><i class="icon-pinterest"></i></a></li>
          </ul>
      </div>
    </div>
</section>
