   <title>FITJAR Challenge: Get Paid For Getting Fit with Friends, Powered by FitBit, Jawbone Up, Nike+ FuelBand, Basis</title>

        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        
        <meta name="keywords" content="keywords" />
        <meta name="description" content=" Take our 7 day fitness challenge and get fit and get paid.  Use your favorite wearable fitness tracker and burn calories for cash."/>
		<link rel="shortcut icon" href="images/fav.ico" />

 <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "https://js.stripe.com/v2/" %>
  <%= csrf_meta_tags %>
  <%= tag :meta, :name => "stripe-key", :content => ENV["STRIPE_PUBLIC_KEY"] %>
  
<link href='http://fonts.googleapis.com/css?family=Oswald:300,400,700' rel='stylesheet' type='text/css'>

<!-- Go to www.addthis.com/dashboard to customize your tools -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-53beb3c6683d863d"></script>

